# Imports

In [1]:
import sklearn.neural_network._multilayer_perceptron as mlp
import numpy as np
import matplotlib.pyplot as plt
import sklearn.datasets as datasets
import sklearn.model_selection as model_selection
from sklearn.model_selection import train_test_split
import sklearn.preprocessing as preprocessing
import sklearn.metrics as metrics
from sklearn.metrics import r2_score
import pandas as pd

C:\Users\nando\AppData\Local\Temp\ipykernel_18888\1919845873.py:10: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
def train_validate_test_split(X, y, training_size, validate_size) -> tuple:
    X_train, X_validate_test, y_train, y_validate_test = train_test_split(X, y, train_size=training_size)
    
    X_validate, X_test, y_validate, y_test = train_test_split(X_validate_test, y_validate_test, train_size=(validate_size/training_size))
    
    return X_train, X_validate, X_test, y_train, y_validate, y_test

In [3]:
MLPclassifier = mlp.MLPClassifier()
MLPregressor = mlp.MLPRegressor()

In [4]:
dataset = pd.read_csv('UNSW_NB15.csv')
dataset.head()

,dur,proto,service,state,spkts,dpkts,sbytes,dbytes,rate,sttl,...,ct_dst_sport_ltm,ct_dst_src_ltm,is_ftp_login,ct_ftp_cmd,ct_flw_http_mthd,ct_src_ltm,ct_srv_dst,is_sm_ips_ports,attack_cat,label
0,0.000011,udp,-,INT,2,0,496,0,90909.0902,254,...,1,2,0,0,0,1,2,0,Normal,0
1,0.000008,udp,-,INT,2,0,1762,0,125000.0003,254,...,1,2,0,0,0,1,2,0,Normal,0
2,0.000005,udp,-,INT,2,0,1068,0,200000.0051,254,...,1,3,0,0,0,1,3,0,Normal,0
3,0.000006,udp,-,INT,2,0,900,0,166666.6608,254,...,1,3,0,0,0,2,3,0,Normal,0
4,0.000010,udp,-,INT,2,0,2126,0,100000.0025,254,...,1,3,0,0,0,2,3,0,Normal,0